<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="typography">Typography</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="button">Button</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="button-toggle">Button Toggle</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="icon">Icon</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="badges">Badges</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="progress-spinner">Progress Spinner</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="navbar">Navbar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="sidenav">Sidenav</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="menu">Menu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="list">List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="grid-list">Grid List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="expansion-panel">Expansion Panel</a>
    </li>
  </ul>

  <router-outlet></router-outlet>