<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="typography">Typography</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="button">Button</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="button-toggle">Button Toggle</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="icon">Icon</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="badges">Badges</a>
    </li>
  </ul>

  <router-outlet></router-outlet>